@import "https://cdnjs.cloudflare.com/ajax/libs/material-design-icons/3.0.1/iconfont/material-icons.min.css";
@import "https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css";

body{
    margin: 0;
    background: #0c0c0cf6;
    font-family: spotify-circular,spotify-circular-cyrillic,spotify-circular-arabic,spotify-circular-hebrew,Helvetica Neue,helvetica,arial,Hiragino Kaku Gothic Pro,Meiryo,MS Gothic,sans-serif;
    overflow: hidden;
}

header{
    padding: 10px;
    width: 19%;
    max-width: 270px;
    height: 95vh;
    max-height: 680px;
    background: #000000f6;
    color: #f0f8ff;
}

#logo{
    display: inline-block;
    position: relative;
    left: 10px;
    bottom: 10px;
}

h1{
    margin-bottom: 15px;
    position: relative;
    left: 10px;
    bottom: 20px;
    display: inline-block;
    font-size: 30px;
    font-family: spotify-circular,spotify-circular-cyrillic,spotify-circular-arabic,spotify-circular-hebrew,Helvetica Neue,helvetica,arial,Hiragino Kaku Gothic Pro,Meiryo,MS Gothic,sans-serif;
    font-weight: bolder;
}

/*---------------------------------------------*/

.icons{
    position: relative;
    left: 10px;
    bottom: 15px;
    display: inline-block;
}

#home{
    position: relative;
    left: 20px;
    bottom: 23px;
    display: inline-block;
    padding: 3px;
    margin-bottom: 0px;
    box-sizing: border-box;
}

#home:active{
    background-color: #282828;
    border-radius: 5px;
    padding-right: 10vw;
}

#lib{
    position: relative;
    left: 25px;
    bottom: 20px;
    display: inline-block;
    padding: 5px;
    margin-bottom: 0;
    box-sizing: border-box;
}

#lib:active{
    background-color: #282828;
    border-radius: 5px;
    padding-right: 9vw;
}

#my{
    position: relative;
    left: 20px;
    bottom: 22px;
    display: inline-block;
    padding: 5px;
    margin-bottom: 20px;
    box-sizing: border-box;
}

#my:active{
    background-color: #282828;
    border-radius: 5px;
    padding-right: 5vw;
}

/*---------------------------------------------*/

#cp{
    position: relative;
    left: 20px;
    bottom: 23px;
    display: inline-block;
    padding: 5px;
    margin-bottom: 0px;
    box-sizing: border-box;
}

#cp:active{
    background-color: #282828;
    border-radius: 5px;
    padding-right: 5.7vw;
}

#mc{
    position: relative;
    left: 20px;
    bottom: 23px;
    display: inline-block;
    padding: 5px;
    margin-bottom:0px;
    box-sizing: border-box;
}

#mc:active{
    background-color: #282828;
    border-radius: 5px;
    padding-right: 3vw;
}

/*---------------------------------------------*/

hr{
    background-color: #282828;
    border: none;
    height: 1px;
    min-height: 1px;
    margin: 8px;
}
/*---------------------------------------------*/
.container-header{
    float: right;
    width: 81.1%;
    padding: 0;
    
}

.fundo-perfil{
    width: 85px;
    height: 30px;
    position: relative;
    top: 15px;
    left: 90%;
    background-color: #0c0c0cfa;
    border-radius: 50px;
}

.perfil{
    width:30px;
    height: 30px;
    position: relative;
    border-radius: 50%;
    overflow: hidden;

}

.perfil img{
    bottom: 0;
    width: 100%;
}

#name-perfil{
    text-align: center;
    margin: auto;
    padding: auto;
    color: #ffffff;
    font-weight: 700;
    position: relative;
    left: 5px;
    bottom: 10px;
}

.mais-perfil{
    position: relative;
    left: 45px;
    bottom: 39px;
}

#mais{
    color: #ffffff;
    font-weight: 500;
}


.nextPage{
    position: relative;
    top: 30px;
    transform: translateX(-87%);
}

.backPage{
    position: relative;
    top: 30px;
    transform: translateX(-92%);
    margin-bottom: 5px;
}

#container-color{
    margin: 0;
    padding: 0;
    width: 100%;
    background: #201550d5;
}

#horario{
    margin-top: 5%;
    margin-left: 2%;
    margin-bottom: 10px;
    color: #ffffff;
    font-weight: bolder;
}
/*---------------------------------------------*/

.cards-tocados{
    width: 40vw;
    max-width: 350px;
    float: left;
    margin-left: 3%;
    margin-bottom: 20px;
    padding-top: 0.5%;
    padding-left: 0.5%;
    color: #f0f8ff;
    background-color: #282828ff;
    border-radius: 5px;
}

#title1{
    float: right;
    transform: translateY(10px);
    position: relative;
    right: 180px;
    margin-right: 1%;
    font-weight: 600;
}

#title2{
    float: right;
    transform: translateY(10px);
    position: relative;
    right: 205px;
    margin-right: -6.5%;
    font-weight: 600;
}

#title3{
    float: right;
    transform: translateY(10px);
    position: relative;
    right: 225px;
    margin-right: -6%;
    font-weight: 600;
}

#title4{
    float: right;
    transform: translateY(10px);
    position: relative;
    right: 135px;
    margin-right: -6%;
    font-weight: 600;
}

#title5{
    float: right;
    transform: translateY(10px);
    position: relative;
    right: 120px;
    margin-right: -6%;
    font-weight: 600;
}
#title6{
    float: right;
    transform: translateY(10px);
    position: relative;
    right: 175px;
    margin-right: -6%;
    font-weight: 600;
}
/*---------------------------------------------*/
.recomendado{
    float: left;
    padding-right: 60%;
    margin-top: 0.5%;
    margin-bottom: 0.5%;
    margin-left: 8%;
    color: #ffffff;
    font-size: 1.5rem;
    font-weight: 700;
}

.recomendados{
    display: inline-block;
    margin-top: 0.5%;
    margin-left: 9%;
    color: #ffffff;
    background-color: #501ab450;
    border-radius: 10px;
    font-weight: 700;
}

.cards-song{
    float: left;
    width: 500%;
    padding-left: 15%;
    padding-right: 40px;
    padding-top: 10%;
}

#card-titulo{
    margin-top: 1%;
    margin-bottom: 0;
    font-size: 1rem;
}
#card-artista{
    margin-top: 0;
    font-size: 0.8rem;
    color: #888888;
}

/*---------------------------------------------*/
footer{
    margin-left: 180px;
    width: 78%;
    max-width: 10000px;
    height: 13%;
    max-height: 300px;
    background: #0c0c0cfa;
    box-sizing: border-box;
    float: center;
    position: fixed;
}

.card{
    display: inline-flex;
    width: 9%;
    max-width: 75px;
    height: 5%;
    max-height: 75px;
    margin-left: 1%;
    margin-top: 1%;
    padding-bottom: 10%;
}

.card-content{
    margin-left: 75%;
    display: inline-block;
    position: relative;
    color: #ffffff;
}

h5{
    width: 100vw;
    max-width: 200px;
    font-size: 1rem;
    margin-bottom: 0;
}

.artista{
    width: 100vw;
    max-width: 200px;
    font-size: 0.7rem;
    color: #888888;
}

/*---------------------------------------------*/

.production{
    margin-left: 12%;
    display: inline-flex;
    width: 0;
}

#first-page{
    position: relative;
    left: 275px;
    transform: translateY(-70%);
}

#playPause{
    position: relative;
    left: 320px;    
    transform: translateY(-75%);
}

#lastPage{
    position: relative;
    left: 365px;
    transform: translateY(-70%);
}

#current-duration{
    position: relative;
    top: 43px;
    right: -40px;
    display: inline-flex;
    color: #888888;
    font-size: 12px;
}

#seekbar{
    display: inline-block;
    margin-top: 10%;
    padding-right: 10%;
    padding-left: 10%;
    width: 500px;
    border: none;
}

#total-duration{
    position: relative;
    top: 43px;
    right: 40px;
    display: inline-flex;
    color: #888888;
    font-size: 12px;
}
/*---------------------------------------------*/

.volume-geral{
    margin-left: 50px;
}

#mute{
    display: inline-block;
    position: relative; 
    top: 20px;   
    transform: translateX(-40PX);
    color: #1ed760;
}

#vol-control{
    display: inline-block;
    width: 80px;
    border: none;
    position: relative;
    bottom: 13px;
}

.btn-floating{
    background-color: #1ed760;
}

input[type="range"]::-webkit-slider-thumb{
    background-color: #1ed760;
}

input[type="range"]::-moz-range-thumb{
    background-color: #1ed760;
}

input[type="range"]::-ms-thumb{
    background-color: #1ed760;
}